{% extends "layout.html" %}
{% block content %}
<style>
.about {
font-size:20px;
}
</style>
<h1>Medical Image Classification</h1>
<br>
<p class="about">LungBot is designed from the ground-up to deliver the most accurate and quantitative
  reports for referring pulmonologists. Built using deep learning technology trained on thousanda of X-Ray images.
  Recent advances in artificial intelligence and machine learning have demonstrated that deep learning technologies have
  superiority in solving various X-ray analysis tasks involving image classification.
</p>
<br>
<h3>Group Members</h3>
<ul class="about">
  <li>Athul Rajesh</li>
  <li>Beno Sam Binu</li>
  <li>Nithin George Philips</li>
  <li>Thushar Sreenivas</li>
</ul>
{% endblock content %}
